body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10vh;
}


.btn {
  display: inline-block;
  height: 20vh;
  width: 20vh;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
@media (min-width: 992px) {
  .container {
    width: 50%;
  }
  .btn {
    display: inline-block;
    height: 40vh;
    width: 40vh;
    border: 10px solid black;
    border-radius: 20%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 540px) {
  .container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10vh;
  }
  
  
  .btn {
    display: inline-block;
    height: 25vh;
    width: 25vh;
    border: 10px solid black;
    border-radius: 20%;
  }
}


